.companyLogo {
  background: white;
  width: fit-content;
  border-radius: 12px;
  padding: 10px 20px;
  margin-bottom: 60px;

  &__img {
    height: 50px;
  }
}

@media screen and (width <=600px) {
  .companyLogo {
    margin-bottom: 30px;

    &__img {
      height: 32px;
    }
  }
}