.root {
  width: fit-content;

  &_right {
    .title {
      text-align: end;
    }
  }
}

.title {
  font-weight: 900;
  margin: 6px;
  padding: 10px 10px 0;
}

.inner {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    padding: 0 10px;
    max-width: 500px;
  }

  &__text {
    border: 2px solid var(--local-color);
    background: var(--local-color);
    color: black;
    position: relative;
    z-index: 11;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in;
    border: 1px solid #ffffff61;
    
    &:hover {
      box-shadow: 
      0 0 5px #fff,               
      0 0 10px var(--local-color),           
      0 0 20px var(--local-color),            
      0 0 40px var(--local-color),           
      inset 0 0 10px var(--local-color);  
    }
  }
}