.root {
  justify-content: center;
}

.sectionWrapper {
  width: 1440px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text {
  color: var(--text-main);
  margin-bottom: 30px;

  &__wrapper {
    max-width: 60%;
    margin-top: 60px;
  }
}

@media screen and (width <=1550px) {
  .root {
    width: calc(100vw - 80px);
    padding: 0 40px;
  }

  .sectionWrapper {
    width: 100%;
  }
}

@media screen and (width <=1280px) {
  .root {
    height: 100%;
    padding-top: var(--header-h);
    padding-bottom: 100px;
  }
}

@media screen and (width <=800px) {
  .text {
    margin-bottom: 30px;

    &__wrapper {
      max-width: 100%;
    }
  }
}

@media screen and (width <=550px) {
  .root {
    width: calc(100vw - 32px);
    padding: 100px 16px;
  }
}