.root {
  justify-content: center;
}

.sectionWrapper {
  width: 1440px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text {
  color: var(--text-main);
  margin-bottom: 30px;

  &__wrapper {
    max-width: 60%;
    margin-top: 60px;
  }
}