.sectionWrapper {
  width: 1440px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projectsMain__text {
  color: var(--text-main);
  margin: 40px 0;
}

.mainContent {
  &__wrapper {
    display: flex;
  }

  &__text {
    max-width: 70%;
  }
}

.statistics {
  &__wrapper {
    display: flex;
    gap: 80px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__item {
    color: var(--accent-main);
    font-weight: 800;
    font-size: 20px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  &__number {
    font-size: 120px;
    line-height: 120px;
  }
}