.root {
  justify-content: center;
  align-items: center;
  position: relative;
}

.sectionWrapper {
  width: 1440px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about {

  &__header,
  &__text {
    color: var(--text-main);
  }

  &__header {
    font-size: 64px;
    line-height: 60px;
    font-weight: 800;
    max-width: 70%;
    margin: 30px 0;
  }

  &__text {
    margin: 20px 0;
    max-width: 70%;
  }
}

.line {
  position: absolute;
  width: 100%;
  top: 0;
  right: -30%;
  mask-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media screen and (width <=1550px) {
  .root {
    width: calc(100vw - 80px);
    padding: 0 40px;
  }

  .sectionWrapper {
    width: 100%;
  }

  .about {

    &__header,
    &__text {
      max-width: 90%;
    }
  }

  .line {
    right: -42%;
  }
}

@media (width <= 1280px) {
  .root {
    height: 100%;
    padding-top: var(--header-h);
    padding-bottom: 100px;
  }

  .about {

    &__header,
    &__text {
      max-width: 80%;
    }
  }
}

@media screen and (width < 800px) {
  .about {

    &__header,
    &__text {
      max-width: 100%;
    }
  }

  .line {
    display: none;
  }
}

@media screen and (width <=550px) {
  .root {
    width: calc(100vw - 32px);
    padding: 100px 16px;
  }

  .about {
    &__header {
      font-size: 32px;
      line-height: 30px;
    }

    &__text {
      margin: 10px 0;
      font-size: 16px;
    }
  }
}