.logo {
  background: white;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px;
}

@media screen and (width <=600px) {
  .logo {
    margin-bottom: 30px;
    padding: 6px 10px;

    & img {
      height: 32px;
    }
  }
}