.root {
  color: var(--accent-main);

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    position: relative;
    top: 20px;
    background: var(--accent-main);
  }
}