.mockup {
  &__device {
    --width: 700px;
    --height: 303px;
    --rightPos: -17%;
    position: absolute;
    z-index: 10;
    top: 40vh;
    right: var(--rightPos);
    width: var(--width);
    height: var(--height);
    overflow: hidden;
  }

  &__device_phone {
    --widthMob: 170px;
    --heightMob: 321px;
    --rightPosMob: -17%;
    position: absolute;
    z-index: 10;
    top: 40vh;
    right: -17%;
    width: 170px;
    height: 321px;
    overflow: hidden;
    border-radius: 34px 26px 24px 37px;
  }

  &__imgSite {
    left: calc(var(--width) * 0.2028);
    width: calc(var(--width) * 0.587);
    position: absolute;
    animation: scroll 20s ease-in-out infinite alternate;
  }

  &__imgSite_phone {
    left: calc(var(--widthMob) * 0.08823);
    width: calc(var(--widthMob) * 0.8588);
    position: absolute;
    animation: scroll 20s ease-in-out infinite alternate;
    border-radius: 20px;
  }

  &__imgDevice {
    position: absolute;
    width: var(--width);
    top: -30.9%;
  }

  &__imgDevice_phone {
    position: absolute;
    width: calc(var(--widthMob) * 2.3529);
    top: -12.2%;
    left: -65%;
  }
}


@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@media screen and (width < 1700px) {
  .mockup {
    &__device {
      --width: 450px;
      --height: 194.7px;
      --leftPos: -70%;

      &_phone {
        display: none;
      }
    }
  }
}