.root {
    // clip-path: polygon(70% 0, 100% 0, 85% 100%, 55% 100%);
    // margin-left: -70px;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -5%;
      width: calc(100vw + 10%);
      height: 100vh;
      background: var(--img-src) center/cover  no-repeat;
      height: 100vh;
      opacity: 0.5;
      mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0) 100%
      );
      --webkit-mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0) 100%
      );
    }
}

.sectionWrapper {
  width: 1440px;
  position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
}

.descrSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 60%;
}

.bgSkewedImg {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: var(--img-src) center/cover  no-repeat;
    height: 100vh;
    opacity: 0.5;
    mask-image: linear-gradient(#00000000, #000000, #00000000), linear-gradient(45deg, #00000000, #000000, #00000000);
  }
}

.prjAchievements {
  &__item {
    margin: 10px 0;
    border-radius: 12px;
    padding: 6px 12px 6px 0;
    background: var(--accent-off-white);
    box-shadow: 0 0 5px 0px white;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 80px;
      left: -20px;
      height: 150%;
      background: var(--accent-main);
      display: block;
      transform: skewX(-10deg);
    }

    &::after {
      content: '';
      position: absolute;
      width: 80px;
      left: -20px;
      height: 150%;
      background: var(--accent-main);
      display: block;
      transform: skewX(10deg);
    }
  }

  &__img {
    width: 30px;
    position: relative;
    z-index: 10;
    margin-left: 15px;
  }

  &__wrapper {
    margin-top: 40px;
    z-index: 10;
  }
}

.childrenWrapper {
  position: relative;
  width: 200px;
  height: 100%;
  flex: 1;

  & .stack {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    position: relative;
    top: 10%;
    margin-left: 50px;
    justify-content: end;

    &__h {
      text-align: end;
      color: var(--text-main);
      position: relative;
      font-weight: 900;
      font-size: 32px;
      margin-left: 20px;
      margin-bottom: 20px;
      top: 10%;
    }

    &__item {
      width: fit-content;
      background: var(--accent-off-white);
      box-shadow: 0 0 2px 0px var(--accent-main);
      border-radius: 8px;
      padding: 8px;
    }
  }
}

.btn {

  &_backwards, &_forward {
    background: var(--accent-main);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  &_backwards {
    left: 5%;
    top: 50vh;
  }

  &_forward {
    top: 50vh;
    right: 5%;
  }
}