.viewport {
  overflow: hidden;
  height: 100%;
  width: 100%;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  background:var(--bg-main);
}

.content {
  overflow: visible;
  width: 100%;
}

.fullSlide {
  width: 100vw;
  height: 100vh;
  display: flex;
}

@media screen and (height <= 900px) {
    .fullSlide:not(:first-child) {
    margin: var(--header-h) 0;
  }

  .fullSlide:last-child {
    margin-bottom: 0;
  }
}

@media screen and (width <= 900px) {
  .fullSlide {
    height: 100%;
  }
}