.root {
  height: 60vh;
  background: #171717;
  box-shadow: inset -0 6px 6px 0 black;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}

.sectionWrapper {
  width: 1440px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading {
  color: var(--text-main);
  font-size: 32px;
  font-weight: 900;
}

.items__wrapper {
  margin-top: 60px;
}

@media screen and (width <=1550px) {
  .root {
    width: calc(100vw - 80px);
    padding: 60px 40px;
  }

  .sectionWrapper {
    width: 100%;
  }
}

@media screen and (width < 1280px) {
  .root {
    height: 100%;
    padding-top: var(--header-h);
    padding-bottom: 100px;
  }
}

@media screen and (width <=550px) {
  .root {
    width: calc(100vw - 32px);
    padding: 100px 16px;
  }
}