.root {
  height: 60vh;
  background: #171717;
  box-shadow: inset -4px 3px 6px 0 black;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}

.sectionWrapper {
  width: 1440px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading {
  color: var(--text-main);
  font-size: 32px;
  font-weight: 900;
}

.items__wrapper {
  margin-top: 60px;
}