.root {
  justify-content: center;
  align-items: center;
  padding: 0;
  height: auto;
  padding: var(--header-h) 0;
}

.sectionWrapper {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.stack {
  &__wrapper {
    width: 100%;
    color: var(--text-main);
  }

  &__columns {
    justify-content: space-between;
    display: flex;
  }
}

.stack_h2 {
  font-weight: 900;
  color: #222;
  font-size: 64px;
  border-radius: 16px;
  padding: 6px 20px;
  box-shadow: 0 0 6px 0 gray;
  background-image:
    radial-gradient(at 18% 12%, #F0A8A0 0px, transparent 50%),
    radial-gradient(at 85% 82%, #F5C0A4 0px, transparent 50%),
    radial-gradient(at 89% 19%, #F7DBAD 0px, transparent 50%),
    radial-gradient(at 19% 85%, #D9E2BD 0px, transparent 50%),
    linear-gradient(135deg, #BBE0CB 0%, #A8DADC 50%, #8DC6DE 100%);
}

.stack {
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__middle {
    display: flex;
    justify-content: center;
  }
}

.stackInner {
  display: flex;
  margin: 20px 0 20px;
  gap: 20px;

  &__wrapper {
    position: relative;
    z-index: 10;

    &.stackInner__wrapper_open {
      z-index: 11;
    }

    &_open {
      & .stackInner__descr {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &__descr {
    transform: scale(0);
    position: absolute;
    opacity: 0;
    width: 500px;
    background: white;
    padding: 50px 10px 10px;
    border-radius: 8px;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }

  &__item {
    border: 2px solid var(--local-color);
    background: var(--local-color);
    color: black;
    position: relative;
    z-index: 11;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in;
    border: 1px solid #ffffff61;

    &:hover {
      box-shadow:
        0 0 5px #fff,
        0 0 10px var(--local-color),
        0 0 20px var(--local-color),
        0 0 40px var(--local-color),
        inset 0 0 10px var(--local-color);
    }
  }
}

.stackLeft {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.stackRight {
  display: flex;
  flex-direction: column;
}

// @media screen and (height <=1000px) {
//   .root {
//     height: 100%;
//     padding-top: var(--header-h);
//     padding-bottom: 100px;
//   }
// }

@media screen and (width <=600px) {
  .stack {
    &__columns {
      flex-direction: column;
    }

    &__right {
      align-items: flex-start;
    }

    &__middle {
      justify-content: start;
    }

    &_h2 {
      width: 100vw;
      text-align: center;
    }
  }
}